<section id="destaque">
    <div class="container py-3">
        <h1 class="mat-display-3 mb-2">Quem somos</h1>
        <h2 class="mat-subheading-2 lead">Correspondente Bancário, vinculado à Caixa Econômica Federal, tem a imensa satisfação em atendê-lo</h2>
    </div> 
</section>
<main id="quem-somos">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <p class="mat-body">A Assessoria Leite - Correspondente Bancário, vinculado à Caixa Econômica Federal, atuando no mercado desde o ano de 2012, tem a imensa satisfação em atendê-lo.</p>
                <p class="mat-body">Pensando sempre em você, a CAIXA, além de proporcionar modelo de crédito imobiliário com taxas reduzidas, oferece os serviços de conta corrente para débito das parcelas do seu financiamento, limite de cheque especial, cartão de crédito com variante à sua conveniência e adesão a um produto que traz a qualidade dos serviços CAIXA. Reiteramos que o vínculo às ofertas relaciona-se diretamente com as melhores condições de taxas para seu financiamento habitacional.</p>
                <div id="conheca-servicos">
                    <a href="/#" button mat-raised-button color="primary" class="m-3 m-sm-0">Conheça nossos serviços</a>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <img src="../../assets/al-correspondente.png" alt="AL Correspondente" id="logo">
            </div>
        </div>
    </div>
</main>
<app-vantagens></app-vantagens>
<!-- <div class="container"><hr></div> -->