<section id="vantagens" class="mat-elevation-z6 py-3">
    <div class="container">
        <div class="row">
        <div class="col-3">
            <h2 class="mat-title">Flexibilidade</h2>
            <p class="mat-body-1">Serviços realizados fora do expediente bancário, nos fins de semana e feriados, seguindo os horários do seu estabelecimento.</p>
        </div>
        <div class="col-3">
            <h2 class="mat-title">Comodidade</h2>
            <p class="mat-body-1">Disponibilidade de atendimento próximo da residência ou trabalho, sem necessidade de deslocamento para grandes centros.</p>
        </div>
        <div class="col-3">
            <h2 class="mat-title">Acessibilidade</h2>
            <p class="mat-body-1">Atendimento a todas as pessoas, inclusive quem não é correntista da CAIXA.</p>
        </div>
        <div class="col-3">
            <h2 class="mat-title">Segurança</h2>
            <p class="mat-body-1">Correspondentes treinado e capacitado para oferecer qualidade e segurança nos negócios e para a prestação de serviços.</p>
        </div>
        </div>
    </div>
</section>