<nav>
  <mat-toolbar>
    <mat-toolbar-row class="container">
      <a id="logo" routerLink="/"
        ><img src="assets/logo.svg" alt="AL Correspondente" height="20" />
        AL Correspondente
      </a>
      <a mat-button class="hide-small" href="#sobre">Sobre</a>
      <a mat-button class="hide-small" href="#sim">Financiamento</a>
      <a mat-button class="hide-small" href="#provasocial">FAQ</a>
      <a mat-button class="hide-small" href="#redesociais">Contato</a>
      <div class="spacer"></div>
      <a
        aria-label="AL Correspondente no WhatsApp"
        target="_blank"
        rel="noopener"
        href="https://api.whatsapp.com/send?phone=558192938680&text=Ol%C3%A1%2C%20Maria%20de%20F%C3%A1tima%21%20Quero%20mais%20informa%C3%A7%C3%B5es%20sobre%20minha%20casa%20pr%C3%B3pria%21"
        title="WhatsApp"
        class="hide-small icon-button"
      >
        <img src="assets/whatsapp.svg" alt="whatsapp" height="24" />
      </a>
      <a
        routerLink="/consulta"
        mat-flat-button
        color="primary"
        title="Agendar consulta on-line"
        style="margin-left: 10px"
        class="hide-small"
        >Simular</a
      >
    </mat-toolbar-row>
  </mat-toolbar>
</nav>

<nav class="show-small" aria-label="Barra de Navegação da Seção">
  <a mat-button class="hide-small" href="#sobre">Sobre</a>
  <a mat-button class="hide-small" href="#sim">Financiamento</a>
  <a mat-button class="hide-small" href="#provasocial">FAQ</a>
  <a mat-button class="hide-small" href="#redesociais">Contato</a>
</nav>
