<nav>
  <mat-toolbar>
    <mat-toolbar-row class="container">
      <a id="logo" routerLink="/" class="me-5">
        <img src="assets/logo.svg" alt="AL Correspondente" height="20" class="me-2" /> AL Correspondente
      </a>
      <a mat-button class="hide-small" routerLink="/quem-somos">Quem Somos</a>
      <a mat-button class="hide-small" href="#servicos">Serviços</a>
      <!-- <a mat-button class="hide-small" href="#sim">Financiamento</a>
      <a mat-button class="hide-small" href="#provasocial">FAQ</a> -->
      <a mat-button class="hide-small" href="#contato">Contato</a>
      <div class="spacer"></div>
      <a
        aria-label="AL Correspondente no WhatsApp"
        target="_blank"
        rel="noopener"
        href="https://api.whatsapp.com/send?phone=558192938680&text=Ol%C3%A1%2C%20Maria%20de%20F%C3%A1tima%21%20Quero%20mais%20informa%C3%A7%C3%B5es%20sobre%20minha%20casa%20pr%C3%B3pria%21"
        title="WhatsApp"
        class="icon-button"
      >
        <img src="assets/whatsapp.svg" alt="whatsapp" height="24" />
      </a>
      <a
        href="https://habitacao.caixa.gov.br/siopiweb-web/simulaOperacaoInternet.do?method=inicializarCasoUso"
        target="_blank"
        mat-flat-button
        color="primary"
        title="Agendar consulta on-line"
        style="margin-left: 10px"
        class="hide-small"
        >Simular</a
      >
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
<nav class="show-small" aria-label="Barra de Navegação da Seção">
  <a mat-button routerLink="/quem-somos">Quem Somos</a>
  <a mat-button href="#servicos">Serviços</a>
  <a mat-button href="https://habitacao.caixa.gov.br/siopiweb-web/simulaOperacaoInternet.do?method=inicializarCasoUso" target="_blank">Simular</a>
  <a mat-button href="#contato">Contato</a>
</nav>
<router-outlet></router-outlet>
<div id="contato">
  <h1 class="mat-headline text-center p-3">Fale conosco</h1>
  <div class="container">
    <mat-list>
      <a mat-list-item href="https://goo.gl/maps/xMPMNeJ2b8gkzW2m7"
        ><mat-icon mat-list-icon color="warn">location_on</mat-icon>
        <div mat-line>
          Rua Joaquim Nabuco, 408 - Sala 406 - Graças, Recife - PE, 52011-005
        </div>
      </a>
      <mat-list-item
        ><mat-icon mat-list-icon>access_time</mat-icon>
        <div mat-line>8:00-12:00- 14:00-18:00</div>
      </mat-list-item>
      <a mat-list-item href="tel:8130719769"
        ><mat-icon mat-list-icon color="primary">phone</mat-icon>
        <div mat-line>(81) 3071-9769</div>
      </a>
      <a aria-label="AL Correspondente no WhatsApp" target="_blank" mat-list-item href="https://api.whatsapp.com/send?phone=558192938680&text=Ol%C3%A1%2C%20Maria%20de%20F%C3%A1tima%21%20Quero%20mais%20informa%C3%A7%C3%B5es%20sobre%20minha%20casa%20pr%C3%B3pria%21"
      rel="noopener" title="WhatsApp">
        <img src="assets/whatsapp.svg" alt="whatsapp" height="24" mat-list-icon>
        <div mat-line>(81) 9293-8680</div>
      </a>
      <a mat-list-item href="mailto:fatima@alcorrespondente.com.br"
        ><mat-icon mat-list-icon>mail</mat-icon>
        <div mat-line>fatima@alcorrespondente.com.br</div>
      </a>
    </mat-list>
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.481070270608!2d-34.90215758461513!3d-8.05231098266894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab191ca7e78165%3A0x3892bad85e48dbec!2sAL%20CORRESPONDENTE!5e0!3m2!1spt-BR!2sbr!4v1611368033477!5m2!1spt-BR!2sbr"
    width="100%"
    height="450"
    frameborder="0"
    style="border: 0"
    allowfullscreen=""
    aria-hidden="false"
    tabindex="0"></iframe>
</div>
<footer class="py-3">
  <div class="container">
    <p class="text-center">
      <a href="/">AL CORRESPONDENTE E NEGOCIOS IMOBILIARIOS LTDA.</a> © 2020 Todos direitos reservados<br />CNPJ: 14.973.761/0001-34<br />
      Desenvolvido pela
      <a href="https://cafeinadesign.github.io/">Cafeína Design</a>
    </p>
  </div>
</footer>
