
<section id="destaque">
<div class="py-5">
    <div class="container">
        <div class="row align-items-center">
        <div class="col-7">
            <h1 class="mat-display-4 mb-2">Financiamento Habitacional</h1>
            <h2 class="mat-subheading-2 lead mb-4">Comprar sua casa nova pode ser mais simples do que você imagina!</h2>
            <div>
            <a href="https://habitacao.caixa.gov.br/siopiweb-web/simulaOperacaoInternet.do?method=inicializarCasoUso" target="_blank" button mat-raised-button>Faça uma simulação</a>
            <a href="#contato" button mat-button class="ms-sm-3">Fale conosco</a>
            </div>
        </div>
        <!-- <div class="col-5"></div> -->
        </div>
    </div>
</div>
</section>
<app-vantagens></app-vantagens>
<main id="servicos" class="py-5">
<div class="container">
    <h1 class="mat-display-2 mb-2 text-center">Produtos e serviços</h1>
    <h4 class="mat-subheading-1 lead mb-5 text-center">Tenha a sua disposição um portfólio completo de produtos e serviços</h4>
    <div class="row">
    <div class="col-sm-4">
        <h2 class="mat-title">Produtos negociais de relacionamento</h2>
        <ul>
        <li>Abertura de conta (Corrente Pessoa Física e Jurídica, Poupança)</li>
        <li>Empréstimos PF e PJ (Consignado e Giro CAIXA)</li>
        <li>Financiamento habitacional</li>
        <li>Cheque Especial PF e PJ</li>
        <li>Cartões de crédito</li>
        <li>Produtos da CAIXA Seguros (Seguros, Consórcios, Capitalização)</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h2 class="mat-title">Prestação de serviços transacionais</h2>
        <ul>
        <li>Movimentação de contas de clientes Caixa (saque, depósito, saldo, extrato e transferência)</li>
        <li>Recebimento de boletos de cobrança (CAIXA e de outros bancos)</li>
        <li>Recebimento de contas (água, luz, telefone e gás)</li>
        <li>Recebimento de tributos (municipais e estaduais)</li>
        <li>Recarga de celular</li>
        <li>Recebimento de faturas da CAIXA (cartão de crédito e financiamento habitacional)</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h2 class="mat-title">Prestação de serviços sociais</h2>
        <ul>
        <li>Pagamento de Bolsa Família</li>
        <li>Pagamento de FGTS</li>
        <li>Pagamento de Benefício do INSS</li>
        <li>Pagamento de Seguro-Desemprego</li>
        <li>Pagamento do PIS</li>
        </ul>
    </div>
    </div>
</div>
</main>  